CustomClassifier.txt
[{"id":"879c4ecb.df0238","type":"visual-recognition-v3","z":"4acd4ad1.089b84","name":"","apikey":"720e207399f5938e2bfe73fe5fd90b8296cf5a92","image-feature":"classifyImage","lang":"en","x":470,"y":480,"wires":[["e4b37e40.12ea5","a78c6f60.7e4c"]]},{"id":"2f97983e.cbceb","type":"debug","z":"4acd4ad1.089b84","name":"","active":true,"console":"false","complete":"payload","x":1070,"y":460,"wires":[]},{"id":"2226aa33.46027e","type":"inject","z":"4acd4ad1.089b84","name":"Beagle","topic":"","payload":"https://i2.wp.com/www.mundoperro.net/wp-content/uploads/beagle-adulto.jpg?w=218&h=327&crop&ssl=1","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":420,"wires":[["cdeb26d2.70734"]]},{"id":"cdeb26d2.70734","type":"function","z":"4acd4ad1.089b84","name":"Define the classifier ID","func":" msg.params = []; \n msg.params[\"classifier_ids\"] = \"dogs_1256851844\"; \n msg.params[\"owners\"] = \"me\"; \n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":420,"wires":[["879c4ecb.df0238"]]},{"id":"2a94ea18.a2f38e","type":"comment","z":"4acd4ad1.089b84","name":"Test your own classifier","info":"","x":155.5,"y":364,"wires":[]},{"id":"b5a25938.64ca18","type":"function","z":"4acd4ad1.089b84","name":"Found a match","func":"\nmsg.payload=\"Watson using your customized classifier sees: \\n \";\n\nmsg.payload +=  msg.result.images[0].classifiers[0].classes[0].class + \" with a score of \" + msg.result.images[0].classifiers[0].classes[0].score + \"\\n\" ;\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":420,"wires":[["2f97983e.cbceb"]]},{"id":"51b7d6b9.cb678","type":"inject","z":"4acd4ad1.089b84","name":"German Shepherd","topic":"","payload":"https://www.cesarsway.com/sites/newcesarsway/files/styles/large_article_preview/public/Ten-things-you-didn%27t-know-about-German-shepherds-.jpg?itok=1A6QPRjw","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":480,"wires":[["cdeb26d2.70734"]]},{"id":"e4b37e40.12ea5","type":"debug","z":"4acd4ad1.089b84","name":"","active":true,"console":"false","complete":"result","x":530,"y":540,"wires":[]},{"id":"a78c6f60.7e4c","type":"switch","z":"4acd4ad1.089b84","name":"","property":"result.images[0].classifiers[0]","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":710,"y":480,"wires":[["b5a25938.64ca18"],["abe65cf1.5443d"]]},{"id":"abe65cf1.5443d","type":"function","z":"4acd4ad1.089b84","name":"No match","func":"\nmsg.payload=\"Watson didn't find a macth for your classifier.\";\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":500,"wires":[["2f97983e.cbceb"]]}]