NodeRED-Visual-recognition-flow.txt


[{"id":"290b8298.b76ade","type":"debug","z":"4acd4ad1.089b84","name":"","active":true,"console":"false","complete":"payload","x":770,"y":220,"wires":[]},{"id":"833eaab9.961478","type":"inject","z":"4acd4ad1.089b84","name":"","topic":"","payload":"https://www.ksml.fi/incoming/rjpxa9-2636728_.jpg/ALTERNATES/FREE_1140/2636728_.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":220,"wires":[["7aa05202.b8b5fc"]]},{"id":"7aa05202.b8b5fc","type":"visual-recognition-v3","z":"4acd4ad1.089b84","name":"Detect Faces","apikey":"720e207399f5938e2bfe73fe5fd90b8296cf5a92","image-feature":"detectFaces","lang":"en","x":370,"y":220,"wires":[["19e844ee.93fbb3"]]},{"id":"f1742985.df152","type":"visual-recognition-v3","z":"4acd4ad1.089b84","name":"Recognize Text","apikey":"720e207399f5938e2bfe73fe5fd90b8296cf5a92","image-feature":"recognizeText","lang":"en","x":380,"y":280,"wires":[["6450d465.173c5c"]]},{"id":"213aad94.179f72","type":"inject","z":"4acd4ad1.089b84","name":"","topic":"","payload":"https://i.pinimg.com/736x/66/b1/22/66b122ce13521ae8465d4a4f1184d673--dark-quotes-good-quotes.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":280,"wires":[["f1742985.df152"]]},{"id":"19e844ee.93fbb3","type":"function","z":"4acd4ad1.089b84","name":"Parse output","func":"\nmsg.payload=\"Watson sees a face: \\n \";\n\nmsg.payload += \" Age between \" + msg.result.images[0].faces[0].age.max + \" and \" + msg.result.images[0].faces[0].age.min + \"\\nGender is \" + msg.result.images[0].faces[0].gender.gender + \" and Watson recognizes the person as \" +  msg.result.images[0].faces[0].identity.name + \" with a score of \" + msg.result.images[0].faces[0].identity.score + \"\\n\";\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":220,"wires":[["290b8298.b76ade"]]},{"id":"6450d465.173c5c","type":"function","z":"4acd4ad1.089b84","name":"Parse output","func":"\nmsg.payload=\"Watson reads: \\n \";\n\nmsg.payload +=  msg.result.images[0].text;\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":280,"wires":[["290b8298.b76ade"]]}]
